<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    
</head>
<style>
    
</style>
<body>
    <header>
        <h3>Your Personal Finance manager</h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">SignUp</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <h1>Welcome to Your Personal Finance Manager</h1>
        <p>Take control of your finances with our easy-to-use expense and income tracking system. Easily log your daily expenses and income, and get a clear picture of your financial situation.</p>
        <a href="/signup"><button>Get Started</button></a>

    </section>
    <center><h4 style="background-color: rebeccapurple; color: red;">{{msg}}</h4></center>
    
</body>
</html>